[Unit]
Description=IPMI Fan Control Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/ipmi_fan.py
StandardInput=tty-force
Restart=on-failure
StandardOutput=append:/var/log/ipmi-fan.log
StandardError=append:/var/log/ipmi-fan.log

[Install]
WantedBy=multi-user.target